{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react-hooks", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": [
      "warn",
      {
        "additionalHooks": "(useCleanupCallback)"
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": "off" // allow inferred return types
  },
  "extends": ["plugin:@typescript-eslint/recommended"]
}
